<div class="job-item"><a href="/jobs/{{id}}">{{title}}</a></div>
<div class="job-item">{{company}}</div>
<div class="job-item">{{type}}</div>
<div class="job-item">{{description}}</div>
<div class="job-item">{{salary}}</div>
<div class="job-item">{{journeyType}}</div>
<div class="job-item">{{vacancies}}</div>
<div class="job-item"><a href="/users/{{owner._id}}">{{owner.email}}</a></div>    
