<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
<nav class="uk-navbar uk-navbar-container uk-hidden@m" id="menu" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Facehack</a> 
        {{!-- <h2>Ironhack social network to share and find jobs</h2>                 --}}
    </div>    
    <div class="uk-navbar-right">
        <a class="uk-navbar-toggle" href="#" uk-toggle="target: #offcanvas-nav">
            <span uk-navbar-toggle-icon></span>
        </a>
    </div>
</nav>
</div>
<div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav uk-nav-default">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            {{#if currentUser}}
            <ul class="uk-nav">
                <li><div>Logged: {{currentUser.email}}</div></li>
                <li class="uk-nav-header">Menu</li>
                <li><a href="/users/{{currentUser._id}}">My profile</a></li>
                <li><a href="/users/edit/{{currentUser._id}}">Edit profile</a></li>
                <li><a href="/jobs/create">Create a job</a></li>
                <li><a href="/jobs">My jobs</a></li>
                <li class="uk-nav-divider"></li>
                <li><form action="/auth/logout" method="POST"> <button type="submit" class="uk-button uk-button-default">Logout</button> </form></li>
                </ul>
            {{else}}
                <ul class="uk-nav">
                    <li class="uk-nav-header">Menu</li>
                    <li> <a href="/auth/signup">Sign up</a> </li>
                    <li> <a href="/auth/login">Login</a> </li>
                </ul>
            {{/if}}  
        </ul>
    </div>
</div>

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
<nav class="uk-navbar uk-navbar-container uk-visible@m" id="menu" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="/">Facehack</a>        
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
             {{#if currentUser}}
                <li class="uk-navbar-item uk-hidden-small" id="logged"><div>Logged: {{currentUser.email}}</div></li>
                <li class="uk-navbar-item uk-hidden-small">
                    <a href="#" id="menu-navbar">Menu</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-nav-header">Menu</li>
                            <li><a href="/users/{{currentUser._id}}">My profile</a></li>
                            <li><a href="/users/edit/{{currentUser._id}}">Edit profile</a></li>
                            <li><a href="/jobs/create">Create a job</a></li>
                            <li><a href="/jobs">My jobs</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><form action="/auth/logout" method="POST"> <button type="submit" class="uk-button uk-button-default">Logout</button> </form></li>
                        </ul>
                    </div>
                </li>
                {{!-- <li class="uk-navbar-item"> <form action="/auth/logout" method="POST"> <button type="submit" class="uk-button uk-button-default">Logout</button> </form> </li> --}}
            {{else}}
                <li class="uk-navbar-item uk-hidden-small"> <a href="/auth/signup">Sign up</a> </li>
                <li class="uk-navbar-item uk-hidden-small"> <a href="/auth/login">Login</a> </li>
            {{/if}}  
        </ul>
    </div>    
</nav>
</div>