<h3>Job detail</h3>
  <div>{{title}}</div>
  <div>{{company}}</div>
  <div>{{type}}</div>
  <div>{{description}}</div>
  <div>{{salary}}</div>
  <div>{{journeyType}}</div>
  <div>{{vacancies}}</div>
<a href="/jobs/{{id}}/edit">EDIT</a>