{{#if sessionFlash.message}}
    <div class="{{ sessionFlash.type }}" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>{{ sessionFlash.messageTitle }}</h3>
        <p>{{ sessionFlash.message }}</p>
    </div>
{{/if}}
<h3>Job detail</h3>
<div class="uk-grid-small uk-flex-wrap uk-flex-top uk-flex-row uk-flex-around@m uk-flex-around@l uk-flex-around@xl" uk-grid="masonry: true">
    <div class="uk-card uk-card-default uk-width-1-1@s uk-width-1-1@m uk-width-1-2@l uk-width-1-2@xl">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">{{job.title}}</h3>
                    {{#ifEquals job.type "webdev"}}
                        <i class="fas fa-code"></i>
                    {{/ifEquals}}
                    {{#ifEquals job.type "ux-ui"}}
                        <i class="fas fa-pencil-ruler"></i>
                    {{/ifEquals}}
                    <p class="uk-text-meta uk-margin-remove-top">{{job.company}}</p>
                    <div class="uk-grid-small uk-flex-middle uk-flex-between" uk-grid>
                        <p class="uk-text-meta uk-margin-remove-top">{{job.type}}</p>
                        <p class="uk-text-meta uk-margin-remove-top">{{job.journeyType}}</p>
                        <p class="uk-text-meta uk-margin-remove-top">Vacancies: {{job.vacancies}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <p>{{job.description}}</p>
        </div>
        {{#if job.location.coordinates}}
            <div class="uk-card-body">
                <div id='map' style='height: 300px;'></div>
                <input type="hidden" id="coord" value="{{job.location.coordinates}}">
                <script>
                    const loc = document.getElementById('coord').value;
                    const locArray = loc.split(',');
                    mapboxgl.accessToken = 'pk.eyJ1Ijoibml4aWVzY3JlYW0iLCJhIjoiY2prMHo4MWF0MGI5OTNxczE1bWo5eHN5ZSJ9.fopBwvYRECh6vF6e6v7rRg';
                    const map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v9',
                        center: [locArray[0], locArray[1]],
                        zoom: 16
                    });

                    const marker = new mapboxgl.Marker()
                        .setLngLat([locArray[0], locArray[1]])
                        .addTo(map);
                </script>
            </div>
        {{/if}}
        <div class="uk-card-footer">
            <p>Salary: {{job.salary}}</p>
        </div>
    </div>
</div>
