<form enctype="multipart/form-data" action="/users/edit/{{currentUser._id}}" method="post" class="uk-grid-small uk-margin-top" uk-grid>
    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Name:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="text" class="uk-input uk-form-width-medium" name="name" value="{{currentUser.name}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Last name:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="text" class="uk-input uk-form-width-medium" name="lastName" value="{{currentUser.lastName}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Email:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="email" class="uk-input uk-form-width-medium" name="email" value="{{currentUser.email}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Date of birth:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="date" class="uk-input uk-form-width-medium" name="dateOfBirth" value="{{currentUser.dateOfBirth}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Phone:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="text" class="uk-input uk-form-width-medium" name="phone" value="{{currentUser.phone}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-1@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Bio:</label>
        <div class="uk-form-controls">
            <textarea name="bio" class="uk-textarea uk-form-width-medium">{{currentUser.bio}}</textarea>
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-1@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Social networks:</label>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Facebook:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="url"class="uk-input uk-form-width-medium" name="facebook" value="{{currentUser.socialNetworks.facebook}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Twitter:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="url"class="uk-input uk-form-width-medium" name="twitter" value="{{currentUser.socialNetworks.twitter}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Instagram:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="url"class="uk-input uk-form-width-medium" name="instagram" value="{{currentUser.socialNetworks.instagram}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Linkedin:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="url" class="uk-input uk-form-width-medium" name="linkedin" value="{{currentUser.socialNetworks.linkedin}}">
        </div>
    </div>

    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Github:</label>
        <div class="uk-form-controls">
            <input id="form-stacked-text" type="url" class="uk-input uk-form-width-medium" name="github" value="{{currentUser.socialNetworks.github}}">
        </div>
    </div>          
    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl">
        <label class="uk-form-label" for="form-stacked-text">Upload your photo:</label><br>   
        <div class="js-upload uk-form-controls" uk-form-custom> 
            <input id="form-stacked-text" type="file" name="picture" accept=".png, .jpg, .jpeg"> 
            <button class="uk-button uk-button-default" type="button" tabindex="-1">Choose file</button>
        </div>          
    </div>
    <div class="uk-width-1-1@s uk-width-1-2@m uk-width-1-5@l uk-width-1-7@xl uk-margin-top uk-margin-bottom" uk-margin>
        <button class="uk-button uk-button-default uk-button-primary" type="submit">Send</button>
    </div>
</form>
