<form action="/users/edit/{{currentUser._id}}" method="post">
    <div>
        <label for="">Name:</label>
        <input type="text"class="uk-input" name="name" value="{{currentUser.name}}">
    </div>

    <div>
        <label for="">Last name:</label>
        <input type="text" class="uk-input" name="lastName" value="{{currentUser.lastName}}">
    </div>

    <div>
        <label for="">Email:</label>
        <input type="email" class="uk-input" name="email" value="{{currentUser.email}}">
    </div>

    <div>
        <label for="">Date of birth:</label>
        <input type="date" class="uk-input" name="dateOfBirth" value="{{currentUser.dateOfBirth}}">
    </div>

    <div>
        <label for="">Phone:</label>
        <input type="text" class="uk-input" name="phone" value="{{currentUser.phone}}">
    </div>

    <div>
        <label for="">Bio:</label>
        <textarea name="bio" class="uk-textarea">{{currentUser.bio}}</textarea>
    </div>

    <div>
        <label for="">Social networks:</label>
    </div>

    <div>
        <label for="">Facebook:</label>
        <input type="url"class="uk-input" name="facebook" value="{{currentUser.socialNetworks.facebook}}">
    </div>

    <div>
        <label for="">Twitter:</label>
        <input type="url"class="uk-input" name="twitter" value="{{currentUser.socialNetworks.twitter}}">
    </div>

    <div>
        <label for="">Instagram:</label>
        <input type="url"class="uk-input" name="instagram" value="{{currentUser.socialNetworks.instagram}}">
    </div>

    <div>
        <label for="">Linkedin:</label>
        <input type="url" class="uk-input"name="linkedin" value="{{currentUser.socialNetworks.linkedin}}">
    </div>

    <div>
        <label for="">Github:</label>
        <input type="url" class="uk-input"name="github" value="{{currentUser.socialNetworks.github}}">
    </div>

    <input type="submit" value="Send!">
</form>
