Hello {{#if currentUser.name}}
    {{currentUser.name}}!
    {{else}}
    {{currentUser.email}}!
{{/if}}
{{#if sessionFlash.message}}
    <div class="{{ sessionFlash.type }}" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>{{ sessionFlash.messageTitle }}</h3>
        <p>{{ sessionFlash.message }}</p>
    </div>
{{/if}}