{{#if sessionFlash.message}}
    <div class="{{ sessionFlash.type }}" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>{{ sessionFlash.messageTitle }}</h3>
        <p>{{ sessionFlash.message }}</p>
    </div>
{{/if}}
<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            {{!-- <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
            </div> --}}
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{currentUser.name}} {{currentUser.lastName}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{currentUser.email}}</p>
                <p class="uk-text-meta uk-margin-remove-top">{{currentUser.phone}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{currentUser.bio}}</p>
    </div>
    <div class="uk-card-footer">
        <div class="uk-grid-small uk-flex-middle uk-flex-around" uk-grid>
            {{#if currentUser.socialNetworks.facebook}}
                <a href="{{currentUser.socialNetworks.facebook}}" class="link"><i class="fab fa-facebook-square"></i></a>
            {{/if}}
            {{#if currentUser.socialNetworks.twitter}}
                <a href="{{currentUser.socialNetworks.twitter}}" class="link"><i class="fab fa-twitter-square"></i></a>
            {{/if}}
            {{#if currentUser.socialNetworks.instagram}}
                <a href="{{currentUser.socialNetworks.instagram}}" class="link"><i class="fab fa-instagram"></i></a>
            {{/if}}
            {{#if currentUser.socialNetworks.linkedin}}
                <a href="{{currentUser.socialNetworks.linkedin}}" class="link"><i class="fab fa-linkedin"></i></a>
            {{/if}}
            {{#if currentUser.socialNetworks.github}}
                <a href="{{currentUser.socialNetworks.github}}" class="link"><i class="fab fa-github"></i></a>
            {{/if}}
        </div>
    </div>
</div>