<h2>My profile</h2>

{{#if sessionFlash.message}}
    <div class="{{ sessionFlash.type }}" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <h3>{{ sessionFlash.messageTitle }}</h3>
        <p>{{ sessionFlash.message }}</p>
    </div>
{{/if}}
<div class="uk-card uk-card-default uk-width-1-2@m uk-width-1-2@l uk-align-center uk-margin-remove-top">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            {{#if user.picturePath}}
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="50" height="50" src="{{user.picturePath}}">
                </div>
            {{/if}}
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom uk-align-left">{{user.name}} {{user.lastName}}
                    {{#ifCond user._id '==' currentUser._id}}
                        <a href="/users/edit/{{../currentUser._id}}" class="uk-margin-remove-top uk-margin-remove-bottom"><i class="fas fa-pencil-alt"></i></a>
                    {{/ifCond}}
                </h3>
                <p class="uk-text-meta uk-margin-remove-top uk-margin-remove-bottom uk-align-left">{{user.email}}</p>
                <p class="uk-text-meta uk-margin-remove-top uk-align-left">{{user.phone}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{user.bio}}</p>
    </div>
    <div class="uk-card-footer">
        <div class="uk-grid-small uk-flex-middle uk-flex-around" uk-grid>
            {{#if user.socialNetworks.facebook}}
                <a href="{{user.socialNetworks.facebook}}" target="_blank" class="link"><i class="fab fa-facebook-square"></i></a>
            {{/if}}
            {{#if user.socialNetworks.twitter}}
                <a href="{{user.socialNetworks.twitter}}" target="_blank" class="link"><i class="fab fa-twitter-square"></i></a>
            {{/if}}
            {{#if user.socialNetworks.instagram}}
                <a href="{{user.socialNetworks.instagram}}" target="_blank" class="link"><i class="fab fa-instagram"></i></a>
            {{/if}}
            {{#if user.socialNetworks.linkedin}}
                <a href="{{user.socialNetworks.linkedin}}" target="_blank" class="link"><i class="fab fa-linkedin"></i></a>
            {{/if}}
            {{#if user.socialNetworks.github}}
                <a href="{{user.socialNetworks.github}}" target="_blank" class="link"><i class="fab fa-github"></i></a>
            {{/if}}
        </div>
    </div>
</div>